.DS_Store

# Home terminal
.venv

# Remove gpx files
#GPX_Routes
#*.gpx


fontawesome-free-6.6.0-desktop
fontawesome_free_6.6.0_desktop

# Remove caches
__pycache__
cache/

# Remove oversized files
Letterbox_GEOJSON/
all_suburbs_map.html
All_Newcasstle.geojson
ASOC_Walks.ipynb 